/*  maincontent
-------------------------------- */

#mainContent {
    &:focus {
        outline: none;
    }
    @include small {}
    .mainpad {
        margin-bottom: 2em;
    } //mainpad
    #maintop {
        /* im getting rid of 15pad from container */
        padding:0;
        #featureBanner {
            position: relative;
            .img-responsive {
                max-width: 100%;
                height: auto;
                margin:0 auto 1.25em;
                opacity: .88;
           
            }//img-responsive
            canvas#canvas1 {
                position: absolute;
                top: 1%;
                left: 10%;
                background: #fff;
                box-shadow: -20px -13px 7px 10px rgba(0, 0, 0, 0.03);
                background-color: #f9fdff;
                z-index: -10;
            }//canvas
            border-bottom: 1px dotted darken($background, 12);
            margin-bottom: 2em;
            figure#bannerCaption {
               
                background-color: $background;
                padding:0 15px;
                @include border-radius;
                p {
                    font-size: 14px;
                    margin-bottom: 1.2em;
                    @include small {
                        font-size: 13px;
                    }
                }
                h4 {
                    margin-bottom: .5em;
                    i.material-icons {
                        vertical-align: text-top;
                        font-size: 22px;
                    } //material-icons
                    @include small {
                        font-size: 22px;
                        p {
                            font-size: 13px;
                        }
                    }
                }
            } //figure
        } //featureBanner
    } //maintop
    #mainmiddle {
        background:url(../assets/images/bgmid.jpg);
        box-shadow: 0px 1px 3px 1px rgba(58, 84, 197, 0.35);
        background-color: $white;
        .apiarea {
            padding:2em 0;
            min-height: 650px;
            h3.headline {
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(0, 0, 0, 0.3);
                padding: 16px 12px;
                width: 40%;
                border-radius: 4px;
                display: block;
                margin: 0;
                color:$white;
                
                i.material-icons {
                    color: $white;
                    font-size: 24px;
                    line-height: 99%;
                    vertical-align: middle;
                } //material-icons
            } //h3.headline
            
            .form-horizontal {
                margin-top: 3em;
                overflow: auto;
                background:rgba(255,255,255,.2);
                min-height: 350px;
                padding:1em 0;
                border-radius:4px;
                .form-group {
                    .minusSidepad {
                        padding-left:0;
                        padding-right:0;
                    }//minusSidepad
                    .input-group-addon {
                            padding:6px 9px;
                        }//input-group-addon

                    .mainContact {
                        h5 {
                            margin: 0 0 1em 0;
                        }//h5

                        .table-bordered > tbody > tr > td   {
                           border: 1px solid rgba(50, 60, 90, 0.5) !important;
                        }//table.table.table-striped

                        table.table.table-bordered > tbody  > tr.info > th {
                            background-color: rgba(217, 237, 247, 0.25) !important;
                            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5) !important;

                        }

                    }//mainContact
                    .activeTrade {
                        .istrade {
                            h5 {
                                margin: 0 0 1em 0;
                            }//h5
                        }//.istrade
                        #output {
                            padding-top: 7em;
                            
                        }//output
                    }//activeTrade    

                }//form-group
            }//form-horizontal
        } //apiarea
    } //mainmiddle

    #mainbottom {
        .apiarea {
            margin-bottom: 2em;
            .headline {
                margin:1.5em auto .5em;
               
                i.material-icons {
                    color: $lightred;
                    font-size: 24px;
                    line-height: 99%;
                    vertical-align: middle;
                } //material-icons
            } //headline
            
            a img {
                margin:0 auto 1.25em;
            }//a img

        } //apiarea
    } //mainbottom
} //mainContent