/* adobe color generator
=======================  */

$green :   #7E8C16;
$blue   :   #00aaff;
$lightgreen  :   #c5d937;
$lightred: #da2734;
$red    :	#e52b38;
$darkred  :	#8c251d;
$background: #fbfcf3;
$regcopy: #555932;
$white: #ffffff;
$black: #000000;


